{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Detail Mata Kuliah
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">Detail Mata Kuliah</h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'grade:course-list' %}">Grade List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header Close -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        Informasi Mata Kuliah
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <tr>
                                    <th width="30%">Nama Mata Kuliah</th>
                                    <td>{{ object.course_name }}</td>
                                </tr>
                                <tr>
                                    <th>SKS</th>
                                    <td>{{ object.credits }}</td>
                                </tr>
                                <tr>
                                    <th>Nilai</th>
                                    <td>{{ object.grade }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'grade:course-list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-2"></i>Kembali ke daftar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
{% endblock %}
