{% load static %}

            <aside class="app-sidebar sticky" id="sidebar">

                <!-- Start::main-sidebar-header -->
                <div class="main-sidebar-header">
                    <a href="{% url 'dashboard:dashboard' %}" class="header-logo">
                        <img src="{% static 'company/image/DOTS.png'%}" alt="logo" class="desktop-logo">
                        <img src="{% static 'company/image/DOTS.png'%}" alt="logo" class="toggle-logo">
                        <img src="{% static 'company/image/DOTS.png'%}" alt="logo" class="desktop-dark">
                        <img src="{% static 'company/image/DOTS.png'%}" alt="logo" class="toggle-dark">
                        <img src="{% static 'company/image/DOTS.png'%}" alt="logo" class="desktop-white">
                        <img src="{% static 'company/image/DOTS.png'%}" alt="logo" class="toggle-white">
                    </a>
                </div>
                <!-- End::main-sidebar-header -->

                <!-- Start::main-sidebar -->
                <div class="main-sidebar" id="sidebar-scroll">

                    <!-- Start::nav -->
                    <nav class="main-menu-container nav nav-pills flex-column sub-open">
                        <div class="slide-left" id="slide-left">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
                        </div>
                        <ul class="main-menu">

                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">Main</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide {% if request.path|slice:":9" == '/dashboard' %}active{% endif %}">
                                <a href="{% url 'dashboard:dashboard' %}" class="side-menu__item">
                                    <i class="bx bx-home side-menu__icon"></i>
                                    <span class="side-menu__label">Dashboard</span>
                                </a>
                            </li>
                            <!-- End::slide -->

                            <li class="slide">
                                <a class="side-menu__item" href="{% url 'buku:buku-list' %}">
                                    <i class="fas fa-book side-menu__icon"></i>
                                    <span class="side-menu__label">Manajemen Buku</span>
                                </a>
                            </li>

                            <li class="slide">
                                <a class="side-menu__item" href="{% url 'grade:course-list' %}">
                                    <i class="fas fa-chart-bar side-menu__icon"></i>
                                    <span class="side-menu__label">Count Grade</span>
                                </a>
                            </li>

                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                    </nav>
                    <!-- End::nav -->

                </div>
                <!-- End::main-sidebar -->

            </aside>