{% load static %}

          <!-- Scroll To Top -->
          <div class="scrollToTop">
               <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
          </div>

          <div id="responsive-overlay"></div>
          <!-- Scroll To Top -->

          <!-- Popper JS -->
          <script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js'%}"></script>

          <!-- Bootstrap JS -->
          <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

          <!-- Node Waves JS-->
          <script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>

          <!-- Simplebar JS -->
          <script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
          <script src="{% static 'assets/js/simplebar.js'%}"></script>

          <!-- Color Picker JS -->
          <script src="{% static 'assets/libs/@simonwep/pickr/pickr.es5.min.js'%}"></script>


        <!-- Prism JS -->
        <script src="{% static 'assets/libs/prismjs/prism.js'%}"></script>
        <script src="{% static 'assets/js/prism-custom.js'%}"></script>

        <!-- Toast JS -->
        <script src="{% static 'assets/js/Toasts.js'%}"></script>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

        <!-- Datatables Cdn -->
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

        <!-- Internal Datatables JS -->
        <script src="{% static 'assets/js/datatables.js'%}"></script>
