{% load static %}

        <!-- Bootstrap JS -->
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <!-- Prism JS -->
        <script src="{% static 'assets/libs/prismjs/prism.js'%}"></script>
        <script src="{% static 'assets/js/prism-custom.js'%}"></script>

        <!-- Toast JS -->
        <script src="{% static 'assets/js/Toasts.js'%}"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Get all toast elements
                const toastElements = document.querySelectorAll('.toast');
                toastElements.forEach(function (toastElement) {
                    const toast = new bootstrap.Toast(toastElement);
                    toast.show();  // Show the toast message
                });
            });
        </script>